@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Indie Flower", cursive;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.container {
  height: 600px;
  width: 450px;
}

h1 {
  font-size: 3.5rem;
  margin: 0;
}

h2 {
  font-size: 2rem;
  margin: 0;
}

.start-button {
  height: 80px;
  width: 120px;
  background-color: cornflowerblue;
  font-size: 3rem;
  border: 3px solid black;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}

.quiz-container {
  height: 100%;
  width: 100%;
  background-color: cornflowerblue;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.quiz-question {
  background-color: white;
  width: 100%;
  height: 20%;
  border: none;
  border-radius: 10px;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

li {
  background-color: white;
  font-size: 2rem;
  text-align: center;
  margin: 10px;
  padding: 2px;
  cursor: pointer;
}

.correct {
  background-color: green;
}

.wrong {
  background-color: red;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  margin: 1%;
}

.prev-button {
  height: 60px;
  width: 100px;
  background-color: cornflowerblue;
  font-size: 1.5rem;
  border: 2px solid black;
  text-align: center;
  cursor: pointer;
}

.next-button {
  height: 60px;
  width: 100px;
  background-color: cornflowerblue;
  font-size: 1.5rem;
  border: 2px solid black;
  text-align: center;
  cursor: pointer;
}

.restart-button {
  height: 80px;
  width: 120px;
  background-color: cornflowerblue;
  font-size: 2rem;
  border: 3px solid black;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}

p {
  text-align: center;
  font-size: 2.5rem;
}

.hide {
  display: none;
}
