@import "./variables";

.about {
  background-color: white;
  height: 450px;
  width: 600px;
  border: solid $accent-color4 2px;
  border-radius: 10%;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
  margin: 100px auto;
  padding: 20px;
  font-size: $font-small;
  box-shadow: 5px 10px $accent-color4;

  img {
    height: 250px;
    width: 200px;
    margin: 20px;
    border: none;
    border-radius: 10%;
  }
}
