@import "./variables";

.projects {
  background-color: white;
  height: 450px;
  width: 800px;
  border: solid black 1px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
  margin: 100px auto;
  padding: 20px;
  font-size: $font-small;
  box-shadow: 5px 10px 8px #888888;
}
