@import "./partials/header";
@import "./partials/typography";
@import "./partials/base";
@import "./partials/variables";
@import "./partials/about";
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300&display=swap");
@import "./partials/projects";
@import "./partials/contact";
