@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300&display=swap");
nav {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
  position: fixed;
  overflow: hidden;
  z-index: 1;
}

nav ul {
  list-style-type: none;
}

nav ul a {
  font-size: 25px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  text-align: center;
  -webkit-transition: text-shadow font-size;
  transition: text-shadow font-size;
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
}

nav ul a:hover {
  -webkit-transition: all 2s ease-in-out 100ms;
  transition: all 2s ease-in-out 100ms;
  text-shadow: 0 0 3px blueviolet;
  font-size: 40px;
}

nav ul li {
  display: inline-block;
  padding: 10px;
  margin: 5px;
}

body {
  font-family: "Abril Fatface", cursive;
}

body {
  margin: 0;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about {
  background-color: white;
  height: 450px;
  width: 800px;
  border: solid black 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 200px auto;
  padding: 20px;
  font-size: 16px;
  -webkit-box-shadow: 5px 10px 8px #888888;
          box-shadow: 5px 10px 8px #888888;
}

.about img {
  height: 250px;
  width: 200px;
  margin: 20px;
  border: none;
  border-radius: 10%;
}

.projects {
  background-color: white;
  height: 450px;
  width: 800px;
  border: solid black 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px auto;
  padding: 20px;
  font-size: 16px;
  -webkit-box-shadow: 5px 10px black;
          box-shadow: 5px 10px black;
}

.skills {
  background-color: white;
  height: 450px;
  width: 800px;
  border: solid black 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px auto;
  padding: 20px;
  font-size: 16px;
  -webkit-box-shadow: 5px 10px black;
          box-shadow: 5px 10px black;
}

.contact {
  background-color: white;
  height: 450px;
  width: 800px;
  border: solid black 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px auto;
  padding: 20px;
  font-size: 16px;
  -webkit-box-shadow: 5px 10px black;
          box-shadow: 5px 10px black;
}
/*# sourceMappingURL=main.css.map */