.container {
    height: 200px;
    width: 400px;
    display: flex;
    flex-flow: row wrap;
}

.box1 {
    background-color: peachpuff;
    border: solid black 1px;
    border-radius: 10%;
    padding: 10px;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 50px;
    line-height: 100px;
}

.box2 {
    background-color: rgb(185, 215, 255);
    border: solid black 1px;
    border-radius: 10%;
    padding: 10px;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 50px;
    line-height: 100px;
}

.box3 {
    background-color: rgb(169, 221, 186);
    border: solid black 1px;
    border-radius: 10%;
    padding: 10px;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 50px;
    line-height: 100px;
}

.box4 {
    background-color: rgb(238, 213, 230);
    border: solid black 1px;
    border-radius: 10%;
    padding: 10px;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 50px;
    line-height: 100px;
}

.box5 {
    background-color: black;
    color: white;
    border: solid black 1px;
    border-radius: 10%;
    padding: 10px;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 50px;
    line-height: 100px;
}

.box6 {
    background-image: linear-gradient(to right, rgb(65, 65, 194), rgb(169, 169, 226));
    border: solid black 1px;
    border-radius: 10%;
    padding: 10px;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 50px;
    line-height: 100px;
}