.container {
    background-color: rgb(240, 238, 123);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.container div {
    background-color: rgb(21, 231, 210);
    opacity: 0.6;
    text-align: center;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    flex-basis: 7%;
}
