img {
    height: 400px;
    width: 600px;
}

.container {
    position: absolute;
}

h1 {
    position: absolute;
    top: 0px;
    right: 10px;
    text-align: center;
    color: blue;
}

span {
    color: white;
}

p {
    position: absolute;
    top: 40px;
    right: 15px;
    font-size: 15px;
    color: yellow;
}